.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;

    &__content { //Making video fit the section
        height: 100%;
        width: 100%;
        object-fit: cover; //I already knew that (can be used with videos aswell)
    }
}