%btn-placeholder {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all .7s;
    position: relative;
}

.btn {
    &:link, &:visited {
        @extend %btn-placeholder
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scale(1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color:$color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }
    
    &::after { /*Creating PSEUDO ELEMENT (a "false" element)*/
        content: ""; /*This is mandatory (may be empty)*/
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;/*Is what is on the front or in the back (like photoshop layers)*/
        transition: all .4s;
    } 
    
    &--animated {
        animation: moveInBottom 1s ease-out .75s;
        animation-fill-mode: backwards; /*This makes the element start with the 0% properties (line 124)*/
    }
}