.composition {

    position: relative;

    &__photo {
        width:55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .4s;
        outline-offset: 2rem;   //this changes where de border begins, in this case 20px outside of the content



        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;   //this is the pretty similar to the border property, but you can use line 12
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) { 
        //composition:hover composition__photo:not(:hover) when I'm hovering the composition select all the photos that aren't hovered
        transform: scale(0.95);
    }
}