.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;   //We give more padding on the sides because it looks better
        border-radius: $border-radius;
        background-color: rgba($color-white, .5);
        border: none;
        width: 90%;
        border-bottom: 3px solid transparent;
        display: block;

        &:focus {   //When something is focused in this case an input
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
            transition: all .3s;

            &:focus:invalid {   //If the things inserted by the user are invalid it will give this style
                border-bottom: 3px solid $color-secondary-dark;
            }
        }
    
        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }       
    }    

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .5s;
    }

    &__input:placeholder-shown + &__label { //The "+" in the selector is the Adjacent Sibling Selector (we select the first sibling) | "~" this is the General Sibling Selector (wich will select all the siblings) --> in html the element we want to select allways needs to be after the first element (label has to be after input in this case)
        opacity: 0;
        visibility: hidden; //we can not animate visibility
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size:  $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";    //Everytime we use a pseudo element ("foo::bar" we must define content (may be empty) and display
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .5s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}