.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &__content {
        @include absCenter; //We have created a mixin for the absolute center. Should replace every place we've used this

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 2px;
        display: table; //When the siblings have a display of table-something the parent must have a display of table
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all .7s;
    }

    &__left {
        width: 33.333333%;
        display:  table-cell;   //Making both sides have the same height
    }

    &__right {
        width: 66.666667%;
        display:  table-cell;
        vertical-align: middle; //Property of table-cell
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        //Making the text display in 2 columns
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;   //Border between columns

        hyphens: auto;
    }

    &:target {  //When the popup is the target (clicking the book now button in the spinning cards) the popup will be visible
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .5s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
}